[submodule "build"]
	path = build
	url = ../build.git
[submodule "rkbin"]
	path = rkbin
	url = ../rkbin.git
[submodule "u-boot"]
	path = u-boot
	url = ../u-boot.git
[submodule "rootfs"]
	path = rootfs
	url = ../rk-rootfs-build.git
[submodule "kernel"]
	path = kernel
	url = ../kernel.git
